<!--<div class="wrapper-masthead">-->
  <!--<div class="container-fluid">-->
    <!--<header class="masthead clearfix">-->
      <!--<a href="{{ .Site.BaseURL }}/" class="site-avatar"><img src="{{ .Site.Params.avatar }}" /></a>-->

      <!--&lt;!&ndash;<div class="site-info">&ndash;&gt;-->
        <!--&lt;!&ndash;<h1 class="site-name"><a href="{{ .Site.BaseURL }}/">{{ .Site.Title }}</a></h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="site-description">{{ .Site.Params.description }}</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--<nav>-->
        <!--<a href="/dashboard/blog">Accueil</a>-->
        <!--<a href="/">Blog</a>-->
        <!--<a href="/project">Domaines d'interventions</a>-->
        <!--<a href="/dashboard/blog">Projets</a>-->
        <!--<a href="/dashboard/blog">Contact</a>-->
        <!--<a href="/dashboard/blog">Dashboard</a>-->
      <!--</nav>-->
    <!--</header>-->
  <!--</div>-->
<!--</div>-->



<!--<div class="wrapper-masthead">-->
  <!--<div class="container-fluid">-->
    <!--<header class="masthead clearfix">-->
      <div class="container-fluid header mb-4 p-lg-5">
        <div class="row align-items-end">

          <div class="col">
            <div class="text-center slogan">
              <a href="{{ .Site.BaseURL }}/"><img src="{{ .Site.Params.avatar }}" /></a>
              <p class="site-description">{{ .Site.Params.description }}</p>
            </div>
          </div>

          <div class="col">
            <div class="upstrap">
              <div class="row">
                <ul class="nav nav-tabs justify-content-center align-items-center">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Accueil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/project">Domaines d'interventions</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/project">Projets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/blog">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--</header>-->
  <!--</div>-->
<!--</div>-->